version: "3.8"
services:
  #qdrant:
  #  image: qdrant/qdrant:latest
  #  build:
  #    context: ./services/indexer
  #  container_name: qdrant
  #  ports: ["6333:6333"]
  #  volumes:
  #    - qdrant_storage:/qdrant/storage

  postgres:
    image: postgres:16
    container_name: app-postgres
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT:-5432}:5432" 
    
  gateway:
    build: 
      context: ./services/gateway
    container_name: gateway
    env_file: .env
    volumes:
      - ./services/gateway:/api
    ports: ["8080:8080"]
    depends_on: [postgres]


# volumes:
#   qdrant_storage:
  