version: "3.8"
services:
  qdrant:
    image: qdrant/qdrant:latest
    build:
      context: ./services/indexer
    container_name: qdrant
    ports: ["6333:6333"]
    volumes:
      - qdrant_storage:/qdrant/storage

    
  gateway:
    build: 
      context: ./services/gateway
    container_name: gateway
    env_file: .env
    volumes:
      - ./praxy/services/gateway:/gateway
    ports: ["8080:8080"]
    depends_on: [qdrant]


volumes:
  qdrant_storage:
  